body {
    font-size: 15pt;
    overflow: scroll;
}
.container{
  display: grid;
  place-items: center;
  margin-top: 200px;
}
.yes{
  width: 100px;
  background-color: pink;
  text-align: center;
  padding: auto;
  border-radius: 5px;
  font-size: 50px;
}
.no{
  
  margin-top: 40px;
  width: 100px;
  background-color: red;
  text-align: center;
  padding: 20px 20px;
  border-radius: 5px;
}